* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profile-component {
  width: 85%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-top: 2rem;
}
.profile-form {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  /* background-color: red; */
}
.profile-img-component {
  width: 17%;
  height: 40%;
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-img-div {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* overflow: hidden; */
}
.profile-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.image-change-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: white;
  background-image: url('/public/ArrowCircleUp.png');
  background-size: contain;
  cursor: pointer;
  bottom: 0;
  right: 0;
}

.profile-nickname-component {
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: center;
  /* margin: 1rem; */
}

.profile-info {
  /* border: 1px solid black; */
  margin-top: 2rem;
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-info input {
  width: 200px;
  margin-right: 1rem;
}
.profile-button {
  padding: 1rem;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 4rem;
  border-radius: 15%;
  background-color: black;
  color: grey;
  font-weight: bold;
  /* transition: all 0.5s linear; */
}

.profile-button:hover {
  color: white;
}
.stored-container {
  border: 1px solid black;
}
.store-row {
  width: 100%;
  height: 30%;
  display: flex;
  /* background-color: blueviolet; */
}
.storedImg-container {
  width: 40%;
  /* height: 100%; */
  /* background-color: aqua; */
}
.storedInfo-container {
  width: 60%;
  /* background-color: red; */
}
.signOut-button {
  position: absolute;
  bottom: 0;
  right: 6%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 3rem;
  border: none;
  color: white;
  background-color: lightgray;
}
